{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "printWidth": 100,
  "bracketSpacing": false,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-packagejson"],
  "overrides": [{"files": "*.svelte", "options": {"parser": "svelte"}}]
}
